input {
    width: 100%;
    border: none;
    position: relative;
    height: 98%;
    top: 0px;
    left: -1px;
    background-color: transparent;
    color: var(--color-white); 
    font-size: var(--font-size-lg);
    font-family: "Besley Italic";
    box-sizing: border-box;

    &:focus {
        outline: none;
        top: -6px;       
    }

    &.invalid {
        border-right: 15px solid var(--color-error);
        top: -10px;
        height: 114%;
    }

    &.typing{
        border-right: 15px solid var(--color-warning);
        top: -10px;
        height: 114%;
    }

    &.filled{
        border-right: 15px solid var(--color-success);
        top: -10px;
        height: 114%;
    }
}