.ef-footer {
    width: 100%;
    min-height: 100vh;
    background: url(../../../assets/images/bg-footer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    position: fixed;
    bottom: 0;

    &-stand {
        position: absolute;
        filter: drop-shadow(0px 10px 38px var(--color-black));
        top: 10% !important;
        left: 10% !important;
    }

    h2 {
        text-align: right;
    }

    footer {
        position: absolute;
        bottom: 0;
        height: 70vh;
        width: 100%;
        display: grid;
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
        grid-template-rows: auto;
        grid-template-areas: 
            ". . . info info."
            ".data data social social ."
            ".data data social social ."
            ".data data social social ."
            ".politics politics politics politics.";
        
    }

    &-data {
        grid-area: data;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        box-sizing: border-box;
        animation: 200ms fadeOut ease-in-out;
        opacity: 0;

        a:hover {
            text-shadow: var(--box-shadow);
            cursor: pointer;
        }
    }

    &-info {
        grid-area: info;
        text-align: right;
        animation: 200ms fadeOut ease-in-out;
        opacity: 0;
        position: relative;

        .container {
            width:100%;
            height:100%;
            position: relative;
            cursor: none;
        }

        .mainAlt {
            width: 100%;
            height: 100%;
            font-family: var(--font-family-paragraph-italic);
            font-size: var(--font-size-md);
            color: var(--color-black);
            filter: blur(0.5px);
            position: absolute;
            top:0;
            opacity: 0.7;
            z-index: 490;
        }

        .main {
            font-family: var(--font-family-paragraph-italic);
            font-size: var(--font-size-md);
            color: var(--color-black);
            font-weight: var(--font-weight-semibold);
            background-color: rgba($color: #EBB022, $alpha: 0.2);
            clip-path: circle(15% at 50% 50%);
            height: fit-content;
            position: relative;
            width: 100%;
            z-index:500;
        }
       
    }
    
    &-social {
        grid-area: social;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        animation: 200ms fadeOut ease-in-out;
        opacity: 0;

        & img:hover {
            cursor: pointer;
            filter: drop-shadow(var(--box-shadow));
        }
    }

    &-politics {
        grid-area: politics;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: var(--color-primary);
        animation: 200ms fadeOut ease-in-out;
        opacity: 0;

        span {
            font-family: var(--font-family-paragraph-italic);
            &:hover {
                cursor: pointer;
                color: var(--color-tertiary);
            }
        }
    }
}

.visible {
    opacity: 1;
    animation: 1.5s fadeIn ease-in-out;
}

* {
    box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}