<div class="ef-member-card-main">
    <img src="/assets/images/frame.png" width="90%">
    <section class="ef-member-card-main--text">

        <h2>{{'home.membership.title' | translate}}</h2>
        <p [innerHTML]="'home.membership.text' | translate"></p>
    </section>
</div>
<div class="ef-member-card-side">

    <section id="card2" class="splide card-2" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <div class="splide__list">
                <img class="splide__slide"  src="/assets/images/omega-card.png" width="100%">
                <img class="splide__slide" src="/assets/images/alpha-card.png" width="100%">
                <img class="splide__slide"  src="/assets/images/beta-card.png" width="100%">
            </div>           
        </div>
    </section>
    <section id="card3" class="splide card-3" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <div class="splide__list">
                <img class="splide__slide"  src="/assets/images/beta-card.png" width="100%">
                <img class="splide__slide"  src="/assets/images/omega-card.png" width="100%">
                <img class="splide__slide" src="/assets/images/alpha-card.png" width="100%">
            </div>           
        </div>
    </section>
    
    <section id="card" class="splide card" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <div class="splide__list">
                <img class="splide__slide" src="/assets/images/alpha-card.png" width="100%">
                <img class="splide__slide"  src="/assets/images/beta-card.png" width="100%">
                <img class="splide__slide"  src="/assets/images/omega-card.png" width="100%">
            </div>           
        </div>
    </section>
    
</div>
