.ef-member-card {
    height: 100vh;
    width: 100%;
    grid-area: member;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;

    &-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        color: var(--color-white);
        text-align: center;
        position: relative;

        & img {
            backdrop-filter: blur(7px);
        }

        &--text {
            position: absolute;
            width: 75%;
            h2 {
                color: var(--color-white); 
                text-align: center;
                margin-bottom: 50px;
            }
        }
    }

    &-side {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;

        &-images {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 420px;
            position: absolute;
            top: 50%;
            transform: translate(7%,-68%);
            img {
                position: absolute;
                transform: translate(-10%, 10%);
            }
        }

        .card {
            position: absolute;
            top: 30%;
        }

        .card-2 {
            max-width: 80%;
            position: absolute;
            top: 20%;
            left: 17%;
        }

        .card-3 {
            max-width: 80%;
            position: absolute;
            top: 25%;
            left: 10%;

        }

        
    }
}