<ef-form-wrap-input [class.ef-form-wrap-open]="showDropdown && currentValue" [class.ef-form-wrap-open--no-options]="showDropdown && !currentValue" [isInvalid]="isInvalid" [isFocus]="showDropdown"  [isFilled]="isFilled"  (click)="handleFocus()">
    <ng-container field>
        <div 
            id="mainSelect"
            [class.invalid]="isInvalid"
            [class.typing]="showDropdown && isFilled && !isInvalid"
            [class.filled]="!showDropdown && isFilled && !isInvalid"
            [class.focused]="showDropdown"
        >
            <div class="option-selected" [class.option-selected--value]="currentValue" [class.option-selected--open]="showDropdown" (click)="toggleOptions()">
                <span>{{ currentValue ? currentValue.label : null }} </span>
                <i class="ef-icon ef-icon--arrow"></i>
            </div>
            <div class="option-panel" *ngIf="showDropdown">
                <div class="option" 
                    *ngFor="let option of options"  
                    [class.selected]="currentValue && option?.id?.toString() === currentValue.id" 
                    [class.disabled]="readonly"
                    (click)="handleChange(option)"
                >
                    {{option?.label}}
                </div>
            </div>
        </div>
        <!-- <select 
            id="mainSelect"
            [class.invalid]="isInvalid"
            [class.typing]="isFocus && isFilled && !isInvalid"
            [class.filled]="!isFocus && isFilled && !isInvalid"
            [(ngModel)]="currentValue"
            (change)="handleChange($event)"
            (focus)="handleFocus()"
            (blur)="handleBlur()"
        >
            <option disabled selected [value]="null"> -- Selecciona una opción -- </option>
            <option *ngFor="let option of options" [value]="option._id || option.id" [selected]="option?._id?.toString() === inputSelect.value || option?.id?.toString() === inputSelect.value" [disabled]="readonly">{{option.label}}</option>
        </select> -->
        
    </ng-container>
    <ng-container label><ng-content select="[label]"></ng-content></ng-container>
    <ng-container errors><ng-content select="[errors]"></ng-content></ng-container>
    <ng-container warnings><ng-content select="[warnings]"></ng-content></ng-container>
    <ng-container success><ng-content select="[success]"></ng-content></ng-container>

</ef-form-wrap-input>
