.ef-card {
    outline: 1.5px solid var(--color-secondary);
    outline-offset: 5px;
    position: absolute;
    display: grid;

    &:not(.disabled):hover {
        cursor: pointer;
       &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
            height: 100%;
            width: 100%;
            background-color: var(--color-black);
            filter: blur(35.5px);
            z-index: -1;
       }
        
    }

    &.disabled {
        opacity: var(--button-opacity);
    }
}