.ef-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
    padding: 0 5%;
    transition: opacity ease-in-out 1s ;
    backdrop-filter: blur(10px);



    .ef-button-content {
        padding: 10px 20px;
        white-space: nowrap;
        top: -105%;
    }

    &-menu {
        
        position: relative;
        width: 33%;
        height: 100px;

        img.ef-nav-bar-menu-icon {

            top: -12px;
            left: 15px;
            transition: var(--transition-bezier) ;
            z-index: 2;
            position: absolute;

            &:hover, &.active {
                cursor: pointer;
                position: absolute;
                filter: drop-shadow(0px 2px 4px var(--color-white));
                height: 120px;                        
            }
        }

        img.ef-nav-bar-menu-logo {
            transition: var(--transition-bezier) ;
            z-index: 2;
            position: absolute;

            &:hover {
                cursor: pointer;
                filter: drop-shadow(0px 2px 4px var(--color-black));
            }
        }

        .ef-nav-bar-menu-items {
            width: 40vw;
            height: 80vh;
            position: absolute;
            top: -79vh;
            left: -56%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            transition: top ease-in-out 2.5s;

            &.active {
                top: 0;
            }

            ul {
                position: absolute;
                list-style-type: none;
            }

            &-icon {

                .ef-icon {
                    height: 60px;
                    transform: rotate(180deg);
                    background-color: var(--color-black);
                }

                &:hover {
                    .ef-icon {
                        background-color: var(--color-primary);
                    }
                    cursor: pointer;
                }
            }

            &--item {
                text-align: center;
                font-family: var(--font-family-title);
                font-size: var(--font-size-xl);
                line-height: 2.5;            

                &:hover {
                    font-weight: var(--font-weight-semibold);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            img {
                top: -12px;
            }
        }
    }
}