<div class="container">
    <div class="ef-who-slide ef-who-slide-one" [class.active]="activeSlide === 'slide-one'">
        <div class="ef-who-slide-one--title">
            <h1>{{'title' | translate}}</h1>
        </div>
        <div class="ef-who-slide-one--image">
            <img class="ef-flags" src="/assets/images/flags.png"  />
        </div>
        <div class="ef-who-slide-one--info">
            <p class="ef-who-slide-one--info-p" [innerHtml]="getWords(['home.info' | translate, 'home.info2' | translate, 'home.info3' | translate])"></p>

        </div>

    </div>
    <div class="ef-home-video-to-who"></div>
</div>
