<div class="wrap-input" [class.wrap-input--invalid]="isInvalid" [class.wrap-input--focus]="isFocus" [class.wrap-input--filled]="isFilled">
    <fieldset class="wrap-input__fieldset">
        <legend class="wrap-input__label">
            <ng-content select="[label]"></ng-content>
        </legend>
        <ng-content select="[field]"></ng-content>
    </fieldset>
    
    <div class="wrap-input__icon">
        <ng-content select="[icon]"></ng-content>
    </div>
    <div class="wrap-input__error">
        <ng-content select="[errors]"></ng-content>
    </div>
    <div class="wrap-input__warning">
        <ng-content select="[warnings]"></ng-content>
    </div>
    <div class="wrap-input__success">
        <ng-content select="[success]"></ng-content>
    </div>
</div>
