<img src="./assets/images/ads.png" width="100%">
<section id="ads" class="splide" aria-label="partners-adds">
    <div class="splide__track">
        <div class="splide__list">
            <div class="splide__slide ef-ads-text">{{keyWordMain}}</div>
            <img class="splide__slide" src="./assets/images/banner_unal.jpg" width="90%" height="200px">
            <div class="splide__slide ef-ads-text">{{keyWordSide}}</div>
            <img class="splide__slide" src="./assets/images/banner_codensa.png" width="90%" height="200px">
        </div>           
    </div>
</section>
