/* You can add global styles to this file, and also import other style files */
:root {

  // Color Palette
  --color-primary: #780922;
  --color-secondary: #FBBD2C;
  --color-tertiary: #092351;

  // Color base
  --color-black: #17171F;
  --color-gray: #8B8B8B;
  --color-white: #F5F5FA;

  // Variation
  --color-dark-primary: #35050D;
  --color-light-primary: #8C202D;
  --color-dark-secondary: #EBB022;
  --color-light-secondary: #FBDB4E;
  --color-dark-tertiary: #14132D;
  --color-light-tertiary: #1C3656;
  --color-dark-white: #8B8B8B;
  --color-light-white: #CACACA;

  // alphas
  --color-black-alpha-30: rgba(23, 23, 31, 0.3);
  --color-tertiary-alpha-50: rgba(28, 54, 86, 0.5);

  // Opacities
  --button-opacity: 0.6;

    // Font size
  --font-size-xxxl: 2.6rem;
  --font-size-xxl: 2.2rem;
  --font-size-xl: 1.8rem;
  --font-size-lg: 1.4rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.9rem;
  --font-size-xs: 0.8rem;
  --font-size-xxs: 0.7rem;
  --font-size-xxxs: 0.6rem;

  // Font weight
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  // Font family
  --font-family-title: 'WorldDiscovery';
  --font-family-paragraph: 'Besley';
  --font-family-paragraph-italic: 'Besley Italic';

  --drop-shadow: drop-shadow(0px 5.7140045166015625px 5.7140045166015625px rgba(0, 0, 0, 0.25));
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);

  --transition-bezier: all 0.15s cubic-bezier(0.17, 0.67, 0.8, 0.62);

  // Alert colors
  --color-success: #96D771;
  --color-warning: #FBDB4E;
  --color-error:  #ED6D5C;

}

@font-face {
    font-family: 'Besley Italic';
    src: url('assets/fonts/Besley-Italic-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Besley';
    src: url('assets/fonts/Besley-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'WorldDiscovery';
    src: url('assets/fonts/WorldDiscovery_PERSONAL_USE_ONLY.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #525356;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-title);
    margin: 0;
}

div, span, p {
    font-family: var(--font-family-paragraph);
}

i, em, b, strong {
    font-family: var(--font-family-paragraph-italic);
}


h1 {
    color: var(--color-black);
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bold);
}

h2 {
    color: var(--color-black);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-semibold);
}

h3 {
    color: var(--color-black);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
}

h4 {
    color: var(--color-black);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
}

i.ef-icon {
    background-color: var(--color-gray);
    display: inline-block;
    height: var(--font-size-xxl);
    mask-position: center;
    mask-repeat: no-repeat;
    width: var(--font-size-xxl);

    &--search {
        mask-image: url(../src/assets/icons/search.svg);
    }

    &--arrow {
        mask-image: url(../src/assets/icons/arrow.svg);
    }

    &--facebook {
        mask-image: url(../src/assets/icons/facebook.svg);
    }

    &--instagram {
        mask-image: url(../src/assets/icons/instagram.svg);
    }

    &--whatsapp {
        mask-image: url(../src/assets/icons/whatsapp.svg);
    }

    &--scroll {
        mask-image: url(../src/assets/icons/scroll.svg);
    }
}

a {
    text-decoration: none;
    color: inherit;
}