.ef-customers {
    height: 100vh;
    width: 100%;
    grid-area: customers;

    backdrop-filter: blur(3px);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 47.5% 5% 47.5%;

    &-container {
        transform: rotate(-7deg) translate(-2%, -12%);
        width: 100%;   
        display: flex;
        align-items: flex-end;

        &:nth-child(2) {
            display: flex;
            align-items: center;
            transform: rotate(-7deg) translate(-2%, -115%);
        }

        &:nth-child(3) {
            display: flex;
            align-items: flex-start;
        }
        
        &-text {
            font-size: var(--font-size-md);
            color: var(--color-white);
            text-align: center;
            font-family: var(--font-family-paragraph-italic);
            white-space: nowrap;
        }
    }

    h2 {
        color: var(--color-white);
        text-align: right;
        width: 68%;
        position: relative;
        top: -100px;
    }
}