<div  class="ef-customers-container">
    <section id="first" class="splide card-3" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <div class="splide__list">
                <img class="splide__slide" src="https://res.cloudinary.com/kavval/image/fetch/q_auto,f_auto/https://www.finishers.com/api/social-preview%3Fmodel%3Devents%26id%3D61bd8d3f-e374-420e-b5b8-b3d41f866731%26height%3D630%26width%3D1200%26hash%3D2be4e982fe%26version%3D3" width="100%" height="200px">
                <img class="splide__slide" src="https://www.coastalbendumc.org/uploads/3/4/8/0/34804053/youthbanner_1_orig.jpg" width="100%" height="200px">
                <div class="splide__slide ef-partners-main-two-text" height="200px">La</div>
                <img class="splide__slide" src="https://i.pinimg.com/originals/74/1b/1f/741b1f008a564f11031e1f131f8696d6.png" width="100%" height="200px">
                <img class="splide__slide" src="https://ih1.redbubble.net/image.2183452293.6907/flat,750x,075,f-pad,750x1000,f8f8f8.jpg" width="100%" height="200px">
            
            </div>           
        </div>
    </section>
</div>
<div class="ef-customers-container">
    <div class="ef-customers-container-text">
        Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia Vive la Experiencia
    </div>
</div>
<div  class="ef-customers-container">
    <section id="second" class="splide card-3" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <div class="splide__list">
                <img class="splide__slide" src="https://res.cloudinary.com/kavval/image/fetch/q_auto,f_auto/https://www.finishers.com/api/social-preview%3Fmodel%3Devents%26id%3D61bd8d3f-e374-420e-b5b8-b3d41f866731%26height%3D630%26width%3D1200%26hash%3D2be4e982fe%26version%3D3" width="100%" height="200px">
                <img class="splide__slide" src="https://www.coastalbendumc.org/uploads/3/4/8/0/34804053/youthbanner_1_orig.jpg" width="100%" height="200px">
                <div class="splide__slide ef-partners-main-two-text" height="200px">La</div>
                <img class="splide__slide" src="https://i.pinimg.com/originals/74/1b/1f/741b1f008a564f11031e1f131f8696d6.png" width="100%" height="200px">
                <img class="splide__slide" src="https://ih1.redbubble.net/image.2183452293.6907/flat,750x,075,f-pad,750x1000,f8f8f8.jpg" width="100%" height="200px">
            
            </div>           
        </div>
    </section>
</div>
<h2>{{'home.customers.title' | translate}}</h2>
